body {
  font-family: "Poppins", sans-serif;
  background-color: #1a1a1a;
  color: #ffffff;
}

/* NAVBAR */
.navbar {
  background-color: rgba(27, 27, 27, 0.904);
}

.nav-logo {
  height: 100px;
  transition: 0.3s;
}

.nav-logo:hover {
  transform: scale(1.1);
}

.nav-link {
  position: relative;
  color: #ffffff;
  transition: color 0.3s ease;
}

.nav-link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -4px;
  width: 0%;
  height: 2px;
  background: #1e3cff;
  transition: width 0.3s ease;
}

.nav-link:hover::after {
  width: 100%;
}
/* HERO */
.hero {
  height: 100vh;
  background: #0e0d0d url("images/hero-bg.jpg") no-repeat center center/cover;
  display: flex;
  align-items: center;
}

/* HERO LOGO */
.hero-logo {
  max-width: 500px;
  width: 100%;
  position: relative;
  animation: shine 3s infinite linear;
}

section {
  padding: 40px 0;
}
/* SHINE EFFECT */
@keyframes shine {
  0% {
    filter: brightness(1);
  }
  50% {
    filter: brightness(1.4);
  }
  100% {
    filter: brightness(1);
  }
}

/* TEXT */
h1,
h2,
h5 {
  color: white;
}

p {
  color: #cfcfcf;
}

/* BUTTON */
.btn-primary {
  background: transparent;
  color: #ffffff;
  border: 2px solid #ffffff;
  padding: 12px 28px;
  font-weight: 500;
  letter-spacing: 0.5px;
  transition: all 0.3s ease;
}

.btn-primary:hover {
  color: #ffffff;
  border-color: #1e3cff;
  box-shadow: 0 0 18px rgba(30, 60, 255, 0.5);
  background: rgba(30, 60, 255, 0.06);
  transform: translateY(-2px);
}

.btn-primary:active {
  transform: scale(0.97);
}

/* SERVICES */
#services .col-md-3 {
  padding: 20px;
  transition: 0.3s;
}

#services .col-md-3 {
  padding: 20px;
  transition: all 0.3s ease;
}

#services .col-md-3:hover {
  transform: translateY(-2px);
  opacity: 0.95;
}

/* DIVIDER */
.divider {
  border-color: #222;
  width: 60%;
  margin: 40px auto;
}

/* GALLERY */
#gallery img {
  border-radius: 10px;
  transition: 0.3s;
}

#gallery img:hover {
  transform: translateY(-2px);
  opacity: 0.95;
}

/* FORM */
form input,
form textarea {
  background: #111;
  border: 1px solid #333;
  color: white;
}

form input:focus,
form textarea:focus {
  border-color: #1e3cff;
  box-shadow: none;
}

/* FOOTER */
footer {
  color: #888;
}
